<h2 mat-dialog-title class="dialog-title">📝 New Note</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="form.get('title')?.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Content</mat-label>
    <textarea matInput rows="6" formControlName="content"></textarea>
    <mat-error *ngIf="form.get('content')?.hasError('required')">
      Content is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button color="warn" (click)="close()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="save()"
  >
    Create Note
  </button>
</mat-dialog-actions>
