<div class="fullscreen-container" *ngIf="note">
  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>

  <input class="custom-title" [(ngModel)]="note.title" placeholder="Title" />

  <textarea
    class="custom-textarea"
    [(ngModel)]="note.content"
    placeholder="Write your note..."
  ></textarea>

  <div class="meta">
    <span>Created: {{ note.createdAt | date : "dd.MM.yyyy, HH:mm" }}</span> •
    <span>Updated: {{ note.updatedAt | date : "dd.MM.yyyy, HH:mm" }}</span>
  </div>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      *appIsInRole="AppRoles.Update"
    >
      Save
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="delete()"
      *appIsInRole="AppRoles.Delete"
    >
      Delete
    </button>
    <button mat-raised-button color="accent" (click)="toggleFavorite()">
      {{ note.favorite ? "Unmark Favorite" : "Mark as Favorite" }}
    </button>
    <button mat-raised-button color="accent" (click)="toggleArchive()">
      {{ note.archived ? "Unarchive" : "Archive" }}
    </button>
    <button mat-raised-button color="primary" (click)="exportSingleNote()">
      Export as PDF
    </button>
  </div>
</div>
