.favorite-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fbc02d;
  background: none;
  border: none;
  padding: 6px;
  width: auto;
  height: auto;

  &:hover {
    color: #ffa000;
    background: none;
  }

  mat-icon {
    font-size: 1.6rem;
    line-height: 1;
  }
}
