.note-card {
  position: relative;

  .favorite-icon,
  .delete-icon {
    all: unset;
    cursor: pointer;
    position: absolute;

    mat-icon {
      font-size: 20px;
      color: inherit;
    }
  }

  .favorite-icon {
    top: 0.5rem;
    right: 0.5rem;
    color: #fbc02d;

    &:hover {
      color: #ffa000;
    }
  }

  .delete-icon {
    bottom: 0.5rem;
    right: 0.5rem;
    color: #e57373;

    &:hover {
      color: #d32f2f;
    }
  }
}

.content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
