<div *ngIf="authService.isLoggedIn" class="notes-list-container">
  <div class="export-button-container" *ngIf="notes.length">
    <button mat-raised-button color="primary" (click)="exportAllNotes()">
      Export All Notes as PDF
    </button>
  </div>

  <div *ngIf="notes.length; else noNotesBlock" class="notes-grid">
    <a
      [routerLink]="['/note', note.id]"
      *ngFor="let note of notes"
      class="note-card-link"
    >
      <app-note-card
        [note]="note"
        (favoriteToggled)="onFavoriteToggled($event)"
        (deleteRequested)="onNoteDeleted($event)"
      ></app-note-card>
    </a>

    <div
      *appIsInRole="AppRoles.Write"
      class="add-note-card"
      (click)="openDialog()"
      (keydown.enter)="openDialog()"
      tabindex="0"
      role="button"
      aria-label="Add new note"
    >
      <mat-icon class="icon">add</mat-icon>
    </div>
  </div>

  <ng-template #noNotesBlock>
    <div class="no-notes-wrapper">
      <div class="no-notes-message" *appIsInRole="AppRoles.Write">
        <p>
          No notes available. Click the "<strong>New Note</strong>" button to
          create a new note.
        </p>
      </div>
      <div class="no-notes-message" *appIsNotInRole="AppRoles.Write">
        <p>No notes available.</p>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="!authService.isLoggedIn" class="please-login-container">
  <p>You need to log in to access your notes.</p>
  <button mat-raised-button color="primary" (click)="authService.login()">
    Login
  </button>
</div>
