<h2 mat-dialog-title class="dialog-title">
  {{ isEditMode ? "Edit Notebook" : "New Notebook" }}
</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput maxlength="50" formControlName="name" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput rows="4" formControlName="description"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button color="warn" (click)="close()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="save()"
  >
    {{ isEditMode ? "Update Notebook" : "Create Notebook" }}
  </button>
</mat-dialog-actions>
