mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 0;
  min-width: 300px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
